<div class="content">
	<h1>Login to Seat Yourself</h1>

	<div class="form">
		<%= form_tag sessions_path do %>

			<div class="labels">
				<p><%= label_tag :email %></p>
				<p><%= label_tag :password %></p>
			</div>
			<div class="inputs">
				<p><%= text_field_tag :email %></p>
				<p><%= password_field_tag :password %></p>
			</div>
			<div class="submit">
				<p><%=  submit_tag 'Login' %></p>
			</div>
		<% end %>
	</div>
</div>