<h1>All reservations for <%= current_user.first_name %></h1>

<% if @reservations.any? %>

		<% @reservations.each do |reservation| %>
			<p><%= reservation.restaurant.name %></p>
			<p><%= reservation.seating_time %></p>
			<p><%= reservation.party_size %></p>
			<p><%= link_to "Edit Reservation", edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
		<% end %>

<% else %>
	<p>No Reservations for <%= current_user.first_name %></p>
<% end %>
