<div class="form">
  <%= form_for(@restaurant) do |f| %>

  <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="labels">
      <p><%= f.label :name %></p>
      <p id="summary"><%= f.label :summary %></p>
      <p><%= f.label :street_number %></p>
      <p><%= f.label :street_name %></p>
      <p><%= f.label :city %></p>
      <p><%= f.label :province %></p>
      <p><%= f.label :postal_code %></p>
      <p><%= f.label :country %></p>
      <p><%= f.label :phone_number %></p>
      <p><%= f.label :website_url %></p>
    </div>

    <div class="inputs">
      <p><%= f.text_field :name %></p>
      <p><%= f.text_area :summary %></p>
      <p><%= f.number_field :street_number %></p>
  	  <p><%= f.text_field :street_name %></p>
      <p><%= f.text_field :city %></p>
      <p><%= f.text_field :province %></p>
      <p><%= f.text_field :postal_code %></p>
      <p><%= f.text_field :country %></p>
      <p><%= f.text_field :phone_number %></p>
      <p><%= f.text_field :website_url %></p>
    </div>

  	<div class="submit">
    	<%= f.submit %>
  	</div>
  <% end %>
</div>