<h1>Showing details for <%= @restaurant.name %></h1>

<%= link_to "Back to home", categories_url %> |
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>

<p>Name: <%= @restaurant.name %> </p>
<p>Summary: <%= @restaurant.summary %></p>

<p>Address: <%= "#{@restaurant.street_number} #{@restaurant.street_name}" %> </p>
<p>City: <%= @restaurant.city %> </p>
<p>Province: <%= @restaurant.province %> </p>
<p>Country: <%= @restaurant.country %> </p>
<p>Postal Code: <%= @restaurant.postal_code %> </p>
<p>Capacity: <%= @restaurant.capacity %> </p>
<p>Phone: <%= @restaurant.phone_number %> </p>
<p>Website: <%= @restaurant.website_url %> </p>

<% if current_user != nil %>
	<% if @restaurant.is_owned_by?(current_user) %>
		<% current_user.owned_restaurant.reservations.each do |reservation| %>
			<p><%= "#{reservation.id}: #{reservation.user.first_name} #{reservation.user.last_name}, #{reservation.seating_time}, #{reservation.party_size}" %></p>
			<% end %>
	<% else %>
		<p><%= link_to "Make a reservation", new_restaurant_reservation_path(@restaurant) %></p>
	<% end %>
<% else %>
	<p>
		<%= link_to 'Login to make a reservation', login_path %>
	</p>
<% end %>

<h1>Reviews</h1>

<% if current_user && @restaurant.is_owned_by?(current_user) != true %>
	<p>Leave a new Review</p>
	<%= render partial: 'reviews/review_form' %>
	<p>All reviews</p>
	<%= render partial: 'reviews/review', collection: @restaurant.reviews.order(created_at: :desc) %>
<% elsif current_user && @restaurant.is_owned_by?(current_user) %>
	<p>All reviews for your restaurant</p>
	<%= render partial: 'reviews/review', collection: @restaurant.reviews.order(created_at: :desc) %>
<% else %>
	<p>
		<%= link_to 'Login to leave your own review', login_path %>
	</p>
	<%= render partial: 'reviews/review', collection: @restaurant.reviews.order(created_at: :desc) %>
<% end %>


