<h1> Landing page for Show Restaurant</h1>

<h1>Restaurants#show</h1>


<%= link_to "Back to Restaurants", restaurants_url %> | 
<%= link_to "Edit", edit_restaurant_path(@restaurant) %> | 
<%= link_to("Delete", restaurant_path(@restaurant), { 
	    method: :delete, 
	    data: {
	  	  confirm: "Are you sure you want to delete this restaurant?"
	    } 
	  } 
	) 
%>

<p><%= @restaurant.name %> </p> 
<p> <%= @restaurant.summary %> </p>

