<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="logo">
			<p>Seat Yourself</p>
		</div>
		<% if current_user %>
			<div class="navmenu">
		    <p>Logged in as <%= current_user.email %>.</p>
				<p>
					<%= link_to "All Restaurants", root_path %>
					<%= link_to "My Reservations", reservations_path %>
					<%= link_to "Log Out", session_path(current_user), method: 'delete' %>
				</p>
			</div>
		<% else %>
			<div class="navmenu">
				<p>Welcome to Seat Yourself</p>
				<p>
					<%= link_to "All Restaurants", root_path %>
					<%= link_to "Sign Up", signup_path %>
					<%= link_to "Log in", login_path %>
				</p>
			</div>
		<% end %>
	</div>
</div>
<div class="belownavcontent">
	<div id="flashes">
		<div class="container">
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% elsif flash[:alert] %>
				<p><%= flash[:alert] %></p>
			<% end %>
		</div>
	</div>
	<div class="container">

		<%= yield %>

	</div>
</div>
</body>
</html>
