<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="navbar">
		<% if current_user %>
			<p>
				Logged in as <%= current_user.email %>.
				<%= link_to "All Restaurants", root_path %>
				<%= link_to "My Reservations", reservations_path %>
				<%= link_to "Log Out", session_path(current_user), method: 'delete' %>
			</p>

		<% else %>
			<p>
				Welcome to Seat Yourself.
				<%= link_to "All Restaurants", root_path %> |
				<%= link_to "Sign Up", signup_path %> |
				<%= link_to "Log in", login_path %>
			</p>

		<% end %>
	</div>
	<div class="flashes">
		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% elsif flash[:alert] %>
			<p><%= flash[:alert] %></p>
		<% end %>
	</div>
</div>
<div class="container">

	<%= yield %>

</div>
</body>
</html>
